---
http_interactions:
- request:
    method: get
    uri: http://api.galves.com/vehicle/0?apiKey=WEoMV2hxV93h2eL8o7msu7cT5R9604Qs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: No data available for the Vehicle.
  recorded_at: Fri, 10 Apr 2015 13:43:28 GMT
- request:
    method: get
    uri: http://api.galves.com/vehicle/305562?apiKey=WEoMV2hxV93h2eL8o7msu7cT5R9604Qs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"book":"T","year":"2008","make":"MERCURY","model":"MOUNTAINEER","style":"4
        DOOR SUV 4.6L V8","body":"4 DOOR SUV","engtype":"4.6L V8","vintrim":null,"basemiles":"80000","includes":"AC
        STD","guid":"305562","proxy":"None  ti: 8000 gmr: 9050 adj: -0.2","trade":"8000","market":"9050","vacsadj":0,"vacs":[{"id":0,"addded":"D","desc":"WITHOUT
        3RD SEAT","amt":"-600","inc":false,"ro":false,"exc":[]},{"id":1,"addded":"D","desc":"WITHOUT
        4 WHEEL DRIVE","amt":"-1300","inc":false,"ro":false,"exc":[]},{"id":2,"addded":"D","desc":"WITHOUT
        LEATHER","amt":"-500","inc":false,"ro":false,"exc":[]},{"id":3,"addded":"D","desc":"WITHOUT
        V8","amt":"-550","inc":false,"ro":false,"exc":[]},{"id":4,"addded":"A","desc":"DVD
        ENTERTAINMENT SYSTEM","amt":"200","inc":false,"ro":false,"exc":[]},{"id":5,"addded":"A","desc":"MOON
        ROOF (POWER)","amt":"500","inc":false,"ro":false,"exc":[]},{"id":6,"addded":"A","desc":"NAVIGATION","amt":"200","inc":false,"ro":false,"exc":[]},{"id":7,"addded":"A","desc":"REAR
        AC","amt":"400","inc":false,"ro":false,"exc":[]}],"conditionadj":{"odor":-275,"frame":-1575,"lights":-275,"prevUS":-225,"wheels":-125,"tires":-75,"panelsRepaired":-125,"panelsToRepair":-150,"pdr":-40,"colors":[{"color":"Unknown","adj":0},{"color":"Black","adj":150},{"color":"Brown","adj":-175},{"color":"Burgundy","adj":-150},{"color":"Charcoal
        Grey","adj":150},{"color":"Dark Blue","adj":-175},{"color":"Dark Green","adj":-225},{"color":"Gold","adj":-225},{"color":"Light
        Blue","adj":-225},{"color":"Light Green","adj":-225},{"color":"Orange","adj":75},{"color":"Pearl
        White","adj":150},{"color":"Purple","adj":-225},{"color":"Red","adj":-150},{"color":"Silver","adj":-100},{"color":"White","adj":75},{"color":"Yellow","adj":-150}]},"retail":11550}'
  recorded_at: Fri, 10 Apr 2015 13:43:58 GMT
- request:
    method: get
    uri: http://api.galves.com/vehicle/305562/4m2eu38ex8?apiKey=WEoMV2hxV93h2eL8o7msu7cT5R9604Qs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"book":"T","year":"2008","make":"MERCURY","model":"MOUNTAINEER","style":"4
        DOOR SUV 4.6L V8","body":"4 DOOR SUV","engtype":"4.6L V8","vintr[...]
