---
http_interactions:
- request:
    method: get
    uri: http://api.galves.com/vehicleByVIN/305562?apiKey=WEoMV2hxV93h2eL8o7msu7cT5R9604Qs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: No data available for the Vehicle.
  recorded_at: Fri, 10 Apr 2015 13:46:11 GMT
- request:
    method: get
    uri: http://api.galves.com/vehicleByVIN/3GNFK123X9?apiKey=WEoMV2hxV93h2eL8o7msu7cT5R9604Qs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"gid":305809,"year":"2009","make":"CHEV","model":"AVALANCHE LS","style":"4
        DOOR P\/UP 5.3L V8"}]'
  recorded_at: Fri, 10 Apr 2015 13:46:42 GMT
recorded_with: VCR 2.9.3
